//
//  bslXML.xcconfig
//  bslxml
//
//  Created by Rom Walton on 12/17/13.
//  Copyright (c) 2013 BOINC Sentinels Team. All rights reserved.
//

#include "../Configurations/Paths.xcconfig"

BSLXMLROOT = $(BSLROOT)/bslxml

BSLXML_USER_HEADER_SEARCH_PATHS = $(BSLXMLROOT)/include

BSLXMLLIBS = -lbslxml